
/*******
fontes*/
@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Italic;
    src: url(../fonts/Roboto-Italic.ttf);
}
/************
Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #04FCD8; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FC2054; 
}
/******
Geral*/
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    font-family: Roboto-Regular;
    background-color: #1D1D1D;
    color: #f2f2f2;
    
}
a{
    color: #f2f2f2;
    text-decoration: none;
}
ul{
    list-style: none;
}
/**********
Header*/
header{
    font-family: Roboto-Bold;
    height: 100%;
    width: 10%;
    max-width: 10%;
    background-color: #181818;
    position: fixed;
}
.inicio{
    height: 250px;
    font-size: 20px;
    background-color: #000;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
.titulo-m{
    font-size: 80px;
    margin-top: 10px;
    color: #04FCD8;
    display: flex;
    justify-content: center;
    position: relative;
}
header span{
    color: #FC2054;
    left: 1cm;
    position: absolute;
}
.nome{
    font-size: 30px;
    margin-top: -25px;
}
nav{
    margin-top: 5px;
}
nav a{
    height: 50px;
    padding: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
hr{
    margin: 5px 0px 5px 0px;
    opacity: 0.5;
    color: #3b3b3b;
}
.redes{
    display: flex;
    justify-content: center;
}
.redes i{
    font-size: 20px;
}
/************
Main*/
main{
    margin-left: 10%;
    height: 100%;
    width: 90%;
    position: absolute;
}
/**********
banner*/
.banner{
    height: 100%;
    padding: 30px;
    font-family: Roboto-Bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bannerTitulo{
    font-size: 72px;
    padding-left: 70px;
}
.bannerSubTitulo{
    font-size: 21px;
    padding-left: 50px;
    opacity: .5;
}
.nome-frase{
    color: #04FCD8;
}
.nome-frase-tras{
    position: absolute;
    color: #FC2054;
    margin-left: 3px;
}
.fundoElementos{
    font-size: 17px;
    font-family: Roboto-Italic;
    opacity: .1;
}
.fundoElementosSpace1{
    padding-left: 30px;
}
.fundoElementosSpace2{
    padding-left: 50px;
}
.downloadCurriculo{
    width: 200px;
    padding: 15px;
    margin-left: 50px;
    border: 1px solid #0DD0B4;
    border-radius: 5px;
    color: #0DD0B4;
    text-align: center;
    transition: 0.5s;
}
.downloadCurriculo:hover{
    background-color: #0DD0B4;
    border: 1px solid #181818;
    color: #181818;
    text-align: center;
}
/*************
Sobre*/
.sobre{
    background-color: #181818;
    width: 100%;
    padding: 50px 100px 50px 100px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
}
.sobreText{
    margin-top: 50px;
    width: 700px;
}
.sobreText hr{
    width: 300px;
    color: #04FCD8;
    border: 2px solid  ;
    margin: 15px 0px 50px 0px;
    animation: progress 3s ease-in-out infinite;
}
.sobreText hr:hover{
    color: #FC2054;
}
.sobreImagem{
    filter: grayscale(100%);
    border-radius: 15px;
    height: 500px;
    overflow-y: hidden;
}
.sobreTextP{
    font-size: 18px;
    text-align: justify;
}
/************
Skils*/
.skils{
    padding: 50px 100px 50px 100px;
}
.titulo{
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}

/*************
trabalhos*/
.trabalhos{
    background-color: #181818;
    width: 100%;
    padding: 50px 100px 50px 100px;
}
/*************
Formações*/
.formacoes-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.formacoes-card{
    width: 400px;
    height: 150px;
    padding: 10px;
    border: 1px solid #04FCD8;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.formacoes-card i{
    font-size: 28px;
}

/********
footer*/
footer {
    margin-top: 100px;
    width: 100%;
    height: 50px;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*desktop*/
@media (min-width: 992px) and (max-width: 1280) {
    
}
/*tablet*/
@media (min-width: 768px) and (max-width: 992px) {
    
}
/*mobile*/
@media (min-width: 481px) and (max-width: 767px) {
    
}